<form id="hold-unhold-form" action="{% url 'AdminWalletAction' %}" method="post" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="actionSelected" value="hold_unhold">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="holdWallet">Hold wallet</label>
                <input type="radio" name="actionType" value="Hold" id="holdWallet" checked onchange="toggleHoldReasonInput()">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="unholdWallet">Unhold wallet</label>
                <input type="radio" name="actionType" value="UnHold" id="unholdWallet" onchange="toggleHoldReasonInput()">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="walletType">Wallet</label>
                <div class="select-wrapper">
                    <select name="walletType" class="form-control form-control-lg custom-select" id="walletType" required>
                        <option value="wallet2" selected>Wallet 2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="userType">User Type</label>
                <div class="select-wrapper">
                    <select name="userType" class="form-control form-control-lg" id="userType" required>
                        <option value="Admin">Admin</option>
                        <option value="Retailer">Retailer</option>
                        <option value="Distributor">Distributor</option>
                        <option value="Master Distributor">Master Distributor</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" onkeyup="fetchUser(event)" required>
                <span id="user_status2"></span>
            </div>
        </div>
        <div class="col-md-6" id="reason-container">
            <div class="form-group">
                <label for="holdReason">Description</label>
                <input type="text" class="form-control" name="holdReason" id="holdReason" required>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
