{% extends "backend/Shared/AuthBase.html" %}

{% block main %}

<div class="row">  
    <div class="col-md-8 mx-auto grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            {% for message in messages %}
            <div class="alert alert-danger">
                {{message}}
            </div>
            {% endfor %}
            <h4 class="card-title">Change Your Password</h4>
            <p class="card-description">
               It is very sensitive. You must create a strong password.
            </p>
            <form class="forms-sample" method="post" action="{% url 'change_password' %}">
                {% csrf_token %}

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group mb-0">
                            <label for="{{form.old_password.auto_id}}">{{form.old_password.label}}</label>
                            {{form.old_password}}
                            {% if form.old_password.errors %}
                                {% for error in form.old_password.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mb-0">
                            <label for="{{form.new_password1.auto_id}}">{{form.new_password1.label}}</label>
                            {{form.new_password1}}
                            {% if form.new_password1.errors %}
                                {% for error in form.new_password1.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mb-0">
                            <label for="{{form.new_password2.auto_id}}">{{form.new_password2.label}}</label>
                            {{form.new_password2}}
                            {% if form.new_password2.errors %}
                                {% for error in form.new_password2.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary me-2 my-2">Save Change</button>
                <button class="btn btn-light">Cancel</button>
            </form>
            </div>
        </div>
    </div>

</div>

{% endblock main %}
