{% extends "backend/Shared/AuthBase.html" %}

{% block main %}

<div class="row">

    <div class="col-md-10 mx-auto grid-margin">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Credit Card Bill</h4>
                    <p class="card-description">Please enter a valid mobile number</p>
                    <form class="forms-sample" id="credit_card_form">
                        <div class="form-group">
                            <label for="customer_mobile">Mobile number</label>
                            <input type="text" name='customer_mobile' class="form-control" id="customer_mobile"
                                required>
                        </div>
                        <button type="submit" class="btn btn-primary me-2 w-100" id='submitBtn'>Fetch Info</button>
                    </form>
                    <ul class="d-flex flex-column my-3">
                        <li><a href="{% url "create_dmt_customer" %}" class="text-decoration-none">Create New Customer</a></li>    
                        <li><a href="{% url "create_credit_card_recipient" %}" class="text-decoration-none">Add Recipients</a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Available Recipients Details</h5>
                    <p class="card-text">The Details are fetched from the mobile number.</p>
                    <div>
                        <ul class="list-group" id="container"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Make Payment Modal Start -->
    <div class="modal fade" id="makePayment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="makePaymentLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="makePaymentLabel">Initiate a Payment</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="$('#container1').empty();$('#submitBtn1').attr('disabled', false);"></button>
                </div>
                <div class="modal-body">
                    <form id="payment_form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-0">
                                            <label for="customer_id">Customer Number</label>
                                            <input type="text" name="customer_id" class="form-control" id="customer_id"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb-0">
                                            <label for="recipient_id">Recipients ID</label>
                                            <input type="text" name="recipient_id" class="form-control"
                                                id="recipient_id" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb-0">
                                            <label for="amount">Amount</label>
                                            <input type="text" class="form-control" id="amount" name="amount"
                                                placeholder="Min. 10 INR" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="container1" class="text-center"></div>
                        <div class="modal-footer">
                            <button type="submit" id="submitBtn1" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {

        // Get List of recipients
        $("#credit_card_form").submit(function (e) {
            $('#submitBtn').attr("disabled", true);
            e.preventDefault();
            var formData = $(this).serialize();

            $("#customer_id").val($('#customer_mobile').val());

            $('#container').empty();
            $('#container').append('<span id="fetchingMsg" class="text-center text-success fw-bold">Fetching Details, Wait for a second...</span>');
            $.ajax({
                type: "POST",
                url: '{% url "list_dmt_recipient" %}',
                data: formData,
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                success: function (response) {
                    if (response.success) {
                        var apiData = response.context.recipient_list;
                        if (apiData != undefined) {
                            for (var i = 0; i < apiData.length; i++) {
                                $('#container').append(`
                                    <li class="list-group-item d-flex justify-content-between"><label class="form-label">${apiData[i].recipient_name} - ${apiData[i].account}</label><button class="btn btn-primary btn-sm me-1" data-bs-toggle="modal" data-bs-target="#makePayment" type="button" id="${apiData[i].recipient_id}" onclick="$('#recipient_id').val(event.target.id)">Pay</button></li>`);
                            }
                            document.getElementById('fetchingMsg').style.display = 'none';
                            $('#submitBtn').attr("disabled", false);
                        } else {
                            $('#container').empty();
                            $('#container').append(`<span id="fetchingMsg" class="text-center text-danger fw-bold">${response.message}</span>`);
                            $('#submitBtn').attr("disabled", false);
                        }
                    } else {
                        $('#container').empty();
                        $('#container').append(`<span id="fetchingMsg" class="text-center text-danger fw-bold">Something went wrong: ${response.message}</span>`);
                        $('#submitBtn').attr("disabled", false);
                    }
                },
                error: function (e) {
                    $('#container').empty();
                    $('#container').append(`<span id="fetchingMsg" class="text-center text-danger fw-bold">Some Error Occurred: ${e.statusText}</span>`);
                    $('#submitBtn').attr("disabled", false);
                }
            });
        });

        // Make payment to the recipient
        $("#payment_form").submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $('#submitBtn1').attr("disabled", true);
            $('#container1').empty();
            $('#container1').append('<span id="fetchingMsg1" class="text-center text-success fw-bold">Fetching Details, Wait for a second...</span>');
            $.ajax({
                type: "POST",
                url: '{% url "credit_card_bill" %}',
                data: formData,
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                success: function (response) {
                    if (response.success) {
                        var apiData = response.context;
                        // $('#submitBtn1').attr("disabled", false);
                        $('#container1').empty();
                        $('#container1').append(`<span id="fetchingMsg1" class="text-center text-success fw-bold">${response.message} <br> Tid : ${apiData.tid}</span>`);
                    } else {
                        $('#container1').empty();
                        $('#container1').append(`<span id="fetchingMsg1" class="text-center text-danger fw-bold">${response.message}</span>`);
                        // $('#submitBtn1').attr("disabled", false);
                    }
                },
                error: function (e) {
                    $('#container1').empty();
                    $('#container1').append(`<span id="fetchingMsg1" class="text-center text-danger fw-bold">Some Error Occurred: ${e.statusText}</span>`);
                    // $('#submitBtn1').attr("disabled", false);
                }
            });
        });

    })

</script>

{% endblock main %}