{% extends "backend/Shared/AuthBase.html" %}

{% block main %}

{% load custom_filters %}
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          All Master Distributor
          {% for message in messages %}
          <p class="text-success">{{message}}</p>
          {% endfor %}
        </h4>
        
        <a href="{% url 'create_master_distributor' %}" class="btn btn-primary btn-sm">
          Create New Master Distributor
        </a>
        <p class="card-description">
          Master Distributors list contain only completed kyc users.
        </p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Platform Id
                </th>
                <th>
                  Shop Name
                </th>
                <th>
                  User name
                </th>
                <th>
                  Full name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Phone
                </th>
                <th>
                  User Manager
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% if md %}
              {% for user in md %}
              <tr>
                <td class="py-1">{{user.platform_id}}</td>
                <td>{{user.shopName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.userManager|get_user_by_id}}</td>
                <td>
                  <a href="{% url 'AdminExploreUser' user.id %}" class="btn btn-primary btn-sm">
                    Check
                  </a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td class="py-1 text-center" colspan='8'>No master distributors to show</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main %}