{% extends "backend/Shared/AuthBase.html" %}

{% block main %}
<div class="row">
    <div class="col-lg-6 mx-auto grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Change User Password</h4>
                {% for message in messages %}
                <p class="text-{{message.extra_tags}}">{{message}}</p>
                {% endfor %}
                <p class="card-description">
                    Please fill correct details.
                </p>

                <form action="{% url 'AdminChangeUserPassword' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userType">User Type</label>
                                        <select name="userType" class="form-control form-control-lg" id="userType"
                                            required>
                                            <option value="Admin">Admin</option>
                                            <option value="Retailer">Retailer</option>
                                            <option value="Distributor">Distributor</option>
                                            <option value="Master Distributor">Master Distributor</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" name="username" id="username" onkeyup="fetchUser(event)" required>
                                        <span id="user_status"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="newPassword1">New Password</label>
                                        <input type="text" class="form-control" name="newPassword1" id="newPassword1" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="newPassword2">Confirm Password</label>
                                        <input type="text" class="form-control" name="newPassword2" id="newPassword2" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function fetchUser(event) {
        $('#user_status').empty();
        const userType = $('#userType').val();
        $.ajax({
            type: "GET",
            url: '{% url "AdminGetUser" %}',
            data: {'username': event.target.value, 'userType': userType},
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            success: function (response) {
                if (response.success) {
                    var apiData = response.user;
                    $('#user_status').empty();
                    $('#user_status').removeClass('text-danger').text(response.message);
                    $('#user_status').addClass('text-success').text(response.message);
                } else {
                    $('#user_status').empty();
                    $('#user_status').addClass('text-danger').text(response.message);
                    $('#user_status').removeClass('text-success').text(response.message);
                }
            },
            error: function (e) {
                $('#user_status').empty();
                $('#user_status').text(`Some Error Occurred: ${e.statusText}`);
            }
        });
    }
</script>
{% endblock main %}