{% extends "backend/Shared/AuthBase.html" %}

{% block main %}

<div class="row">
	<div class="col-md-12 mx-auto grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				{% if messages %}
				{% for message in messages %}
				<div class="alert alert-{{message.extra_tags}}">
					{{message}}
				</div>
				{% endfor %}
				{% endif %}
				<H2>Onboard Merchant</H2>
				<hr>
				<a href={{url}} class="btn btn-primary me-2 my-2">CSP Onboard</a>
			</div>
		</div>
	</div>
</div>

{% endblock main %}