{% extends "backend/Shared/AuthBase.html" %}

{% block main %}

{% if service_activation.AepsService %}

<div class="row">
	<div class="col-md-12 mx-auto grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				{% if messages %}
				{% for message in messages %}
				<div class="alert alert-{{message.extra_tags}}">
					{{message}}
				</div>
				{% endfor %}
				{% endif %}
				<H2>AePS Gateway</H2>
				<hr>
				<button onClick="doAeps()">Open AePS Gateway</button>
			</div>
		</div>
	</div>
</div>

<script src="/static/@ekoindia/aeps-gateway-lib/aeps-gateway-lib.js"></script>
<script>
	const current_user = '{{request.user}}';
	const aeps = new EkoAEPSGateway;
	let Config;
	async function fetchConfig() {
		try {
			const e = await fetch('{% url "get_config_info" %}');
			if (!e.ok) {
				throw new Error(`HTTP error! Status: ${e.status}`)
			}
			Config = await e.json();
			return Config
		} catch (e) {
			console.error("Error fetching Config information:", e)
		}
	}
	function configureAeps() {
		aeps.config({
			partner_name: "A. B. DIGITAL INDIA PVT LTD",
			initiator_logo_url: "https://abdigitalindia.in/static/assets/img/logo.jpg",
			initiator_id: Config.initiator_id,
			developer_key: Config.developer_key,
			secret_key: Config.secret_key,
			secret_key_timestamp: Config.secret_key_timestamp,
			user_code: Config.user_code,
			environment: "production"
		});
		return true
	}
	aeps.setCallbackURL('https://abdigitalindia.in/user/aeps_tx_callback/',
		{
			parameters: { "platform_user": current_user }
		});
	async function doAeps() {
		await fetchConfig();
		configureAeps();
		aeps.open();
		location.reload()
	}
</script>

{% else %}

<div class="row">
	<div class="col-md-10 mx-auto grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				{% for message in messages %}
				<div class="alert alert-{{ message.extra_tags }}">
					{{message}}
				</div>
				{% endfor %}
				<h4 class="card-title">AePS-Activate</h4>
				<p class="card-description">
					Fill the details.
				</p>
				<form class="forms-sample" method="post" action="{% url 'activate_aeps' %}"
					enctype="multipart/form-data">
					{% csrf_token %}
					<input type="hidden" name="latlong" id="latlong" required />
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-12 fw-bold mb-2">
									Merchant Details
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="aadhar">Aadhar Number</label>
										<input type="text" name="aadhar" class="form-control" id="aadhar" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="shop_type">Shop Type</label>
										<select name="shop_type" class="form-control form-control-lg" id="shop_type" required>
											<option value="">Select Shop Type</option>
											{% for data in shop_type_list %}
											<option value="{{ data.value }}">{{ data.label }}</option>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="col-12 fw-bold mb-2">
									Device details
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="modelname">Model Name</label>
										<select name="modelname" class="form-control form-control-lg" id="modelname"
											required>
											<option value="Morpho">Morpho</option>
											<option value="TMF20">TMF20</option>
											<option value="Mantra">Mantra</option>
											<option value="Startek">Startek</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="devicenumber">Device Number</label>
										<input type="text" name="devicenumber" class="form-control" id="devicenumber"
											required>
									</div>
								</div>
								<div class="col-12 fw-bold mb-2">
									Office Address
								</div>
								<div class="col-md-6">
									<div class="form-group mb-0">
										<label for="line">Line</label>
										<input type="text" name="line" class="form-control" id="line" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group mb-0">
										<label for="city">City</label>
										<input type="text" name="city" class="form-control" id="city" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group mb-0">
										<label for="state">State</label>
										<select name="state" class="form-control form-control-lg" id="state" required>
											<option value="">Select State</option>
											{% for state in states_id_list %}
											<option value="{{ state.label }}-{{ state.value }}">{{ state.label }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="pincode">Pincode</label>
										<input type="text" name="pincode" class="form-control" id="pincode" required>
									</div>
								</div>
								<div class="col-12 fw-bold mb-2">
									Address as per proof
								</div>
								<div class="col-md-6">
									<div class="form-group mb-0">
										<label for="appline">Line</label>
										<input type="text" name="appline" class="form-control" id="appline" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group mb-0">
										<label for="appcity">City</label>
										<input type="text" name="appcity" class="form-control" id="appcity" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group mb-0">
										<label for="appstate">State</label>
										<select name="appstate" class="form-control form-control-lg" id="appstate" required>
											<option value="">Select State</option>
											{% for state in states_id_list %}
											<option value="{{ state.label }}-{{ state.value }}">{{ state.label }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="apppincode">Pincode</label>
										<input type="text" name="apppincode" class="form-control" id="apppincode" required>
									</div>
								</div>
								<div class="col-12 fw-bold mb-2">
									Bank Details
								</div>
								<div class="col-md-6">
									<div class="form-group mb-0">
										<label for="account_no">Account Number</label>
										<input type="text" name="account_no" class="form-control" id="account_no" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group mb-0">
										<label for="ifsc">IFSC</label>
										<input type="text" name="ifsc" class="form-control" id="ifsc" required>
									</div>
								</div>
								<div class="col-12 fw-bold mb-2">
									Documents
								</div>
								<div class="col-md-6">
									<div class="form-group mb-0">
										<label for="aadhar_front">Aadhar Front</label>
										<input type="file" name="aadhar_front" class="form-control" id="aadhar_front"
											required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group mb-0">
										<label for="aadhar_back">Aadhar Back</label>
										<input type="file" name="aadhar_back" class="form-control" id="aadhar_back"
											required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="pan_card">Pan Card</label>
										<input type="file" name="pan_card" class="form-control" id="pan_card" required>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary w-100">Activate</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function getLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(
				function (position) {
					var latitude = position.coords.latitude;
					var longitude = position.coords.longitude;
					$("#latlong").val(latitude + "," + longitude);
				},
				function (error) {
					handleGeolocationError(error);
				}
			);
		} else {
			alert("Geolocation is not supported by this browser.");
		}
	}

	function handleGeolocationError(error) {
		switch (error.code) {
			case error.PERMISSION_DENIED:
				alert("User denied the request for Geolocation.");
				break;
			case error.POSITION_UNAVAILABLE:
				alert("Location information is unavailable.");
				break;
			case error.TIMEOUT:
				alert("The request to get user location timed out.");
				break;
			case error.UNKNOWN_ERROR:
				alert("An unknown error occurred.");
				break;
		}
	}
	getLocation();

	function validateAadhaar(input) {
        const aadhaarNumber = input.value.replace(/\s/g, '');
        const aadhaarRegex = /^[0-9]{1}[0-9]{11}$/;
        const errorElement = document.getElementById('aadhaarError');
        const submitBtn = document.getElementById('submitBtn');
        if (aadhaarRegex.test(aadhaarNumber)) {
            errorElement.style.display = 'none';
            submitBtn.disabled = false;
        } else {
            errorElement.style.display = 'block';
            submitBtn.disabled = true;
        }
    }
</script>

{% endif %}

{% endblock main %}