{% extends "backend/Shared/AuthBase.html" %}

{% block main %}

<div class="row">
    <h4 class="text-black mb-2">Current Offers</h4>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="text-success font-weight-bold">Example offer1</h3>
                    <i class="mdi mdi-bomb mdi-18px text-dark"></i>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, fugiat.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-black mb-2">Expired Offers</h4>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="text-success font-weight-bold">Example offer1</h3>
                    <i class="mdi mdi-bomb mdi-18px text-dark"></i>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, fugiat.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="text-success font-weight-bold">Example offer2</h3>
                    <i class="mdi mdi-bomb mdi-18px text-dark"></i>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, fugiat.</p>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
