{% extends "backend/Shared/AuthBase.html" %}

{% block main %}

<div class="row">
    <div class="col-sm-12 grid-margin d-flex stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="">
                    <h4 class="card-title mb-2">For support & query</h4>
                    <p>Call : +91 8077039923, +91 7900240446 </p>
                    <p>Email : SUPPORT@ABDIGITALINDIA.IN </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}
