<!-- ======= Who we are + about us Section ======= -->
<section id="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 about-img">
        <img src="/static/assets/img/about-img.jpg" alt="">
      </div>

      <div class="col-lg-6 content">
        <h2>Who we are.</h2>
        <h3>One Stop Digital Shop for your Business.</h3>
        <p>
          We at A. B. DIGITAL INDIA PVT LTD believes that technology should not be restricted to the privileged.
          Technology is nothing but a basic right, which should be accessible to all. A. B. DIGITAL INDIA PVT LTD
          is yet another endeavor that stands by A. B. DIGITAL INDIA PVT LTD’s beliefs.
        </p>
        <p>
          A. B. DIGITAL INDIA PVT LTD provides payment solutions to the masses through its strong Agent Network
          using Semi-closed Wallet. and Neo Banking Platform which enables agents to provide services like Domestic
          Money Transfer (DMT), cash withdrawal, Mini ATM (AEPS), PAN Card applications, travel bookings, Insurance,
          BBPS, Indo Nepal Money Transfer and much more.
        </p>
        <br>
      </div>
      <div class="col-12">
        <p>
          We're on a Mission to Revolutionize Your Perception of B2B. Our operations revolve around the innovative A.B.
          DIGITAL INDIA PRIVATE LIMITED, where we collaborate with local retail establishments, equipping them with the
          necessary tools to offer expert financial and digital commerce services to their communities. A.B. DIGITAL
          INDIA SERVICES PRIVATE LIMITED stands as India's foremost trailblazer in skill development, higher education,
          financial inclusion, and e-Governance, alongside a host of other ICT-based services, catalyzing an inclusive
          transformation across the nation. With a formidable presence in nearly all states and three Union Territories,
          boasting a network of over 20,000 centers nationwide. To date, we've provided skill-based farmer training to
          over 200,000 individuals, generating employment opportunities for more than 50,000 within our network, and
          positively impacting the lives of over 20,000 through a range of innovative products and agricultural
          services.
        </p>
      </div>

    </div>

  </div>
</section><!-- End Who we are Section -->

<!-- ======= About us Section ======= -->
<section>
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>About Us</h2>
      <h3>We Creating Solutions For Your Organization.</h3>
      <p>A. B. DIGITAL INDIA PVT LTD is the established belief or doctrine held by a religion, ideology or any
        kind of organization: It is authoritative and not to be disputed, doubted or diverged from. Dogma is a Greek
        word which means seems to one, opinion or belief" and "to think, to suppose, to imagine". Company Reg. No. is: -
        U62099UP2023PTC188999.</p>
      <br>
      <p>A. B. DIGITAL INDIA PVT LTD Is an ISO 9001:2023 certified company, Registered by Ministry of Corporate
        Affairs, Government of India and Trademark in Business Class. A. B. DIGITAL INDIA PVT LTD is an IT
        service provider and Software Company with a skilled and competent Staff. A. B. DIGITAL INDIA PVT LTD aid
        its foundation in 2009 and education domain services like school, ITI/ITC, distance etc.., IT Hardware and
        Software services, web based services, design and creative, desktop based application, SEO services, Toll Free
        Services, Payment Gateway Services, Security Systems and portals. A. B. DIGITAL INDIA PVT LTD stringent
        plus point is to keep the skilled resources available with best skills and abilities employed to ride out the
        best results out of the organization. Being proven infrastructure wise, resource wise and financially developed
        clients gain the advantages of value-based solutions and services excellent staff and techniques.</p>
      <br>
      <p>
        Uttar Pradesh 's No- 1 Company to deal with ITI/ITC
        Presence in 37 State/UT , 750 Districts, 5675 Cities and 19000 Pincodes
        Offering more than 100+ Services (Software Development , Web Hosting, SEO , Project Training , Hardware Services
        and SMS Solution) Approximately 99% customers of A. B. DIGITAL INDIA PVT LTD reported being satisfied
        with A. B. DIGITAL INDIA PVT LTD and the services it provides. Our support is always available to resolve
        our client's issues.
      </p>
    </div>
  </div>
</section><!-- End About us Section -->