<!-- ======= Call To Action Section ======= -->
<section id="call-to-action">
  <div class="container" data-aos="zoom-out">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-start">
        <h3 class="cta-title">Become a Member</h3>
        <p class="cta-text">Zero lagat aur Zero monthly rental se shuru karein apni Digital Dukaan</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#contact">Join Now</a>
      </div>
    </div>
  </div>
</section><!-- End Call To Action Section -->