<!-- ======= hero Section ======= -->

<section id="hero">

  <div class="hero-content" data-aos="fade-up">
    <h2>A. B. <span>DIGITAL INDIA</span><br>PRIVATE LIMITED</h2>
    <h4>IT solutions Company</h4>
    <p>Fast and easy you want to be more secure send and recives money sort time.</p>
    <div>
      <a href="#contact" class="btn-get-started scrollto">Get Started</a>
      <a href="#services" class="btn-projects scrollto">Our Services</a>
    </div>
  </div>

  <div class="hero-slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url('/static/assets/img/hero-carousel/1.jpg');"></div>
      <div class="swiper-slide" style="background-image: url('/static/assets/img/hero-carousel/2.jpg');"></div>
      <div class="swiper-slide" style="background-image: url('/static/assets/img/hero-carousel/3.jpg');"></div>
      <div class="swiper-slide" style="background-image: url('/static/assets/img/hero-carousel/4.jpg');"></div>
      <div class="swiper-slide" style="background-image: url('/static/assets/img/hero-carousel/5.jpg');"></div>
    </div>
  </div>

</section><!-- End Hero Section -->

<!-- ======= Registration Process Section ======= -->
<section id="registration-process">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Registration Process</h2>
      <p>The complete registration process includes the following steps and instructions.
      </p>
      <div class="row mx-auto">

        <div class="col-lg-2 col-md-4 col-sm-12 col-12 d-lg-block d-md-block d-sm-flex d-flex justify-content-lg-center justify-content-md-center justify-content-sm-between justify-content-between">
          <div class="registration-img d-flex justify-content-lg-center justify-content-md-center justify-content-sm-start justify-content-start order-1">
            <img src="/static/assets/img/register.jpg" style="border-radius: 50%; height: auto; width: 70%;" alt="">
          </div>
          <div class="registration-text order-2">
            <h6 style="font-weight: 600; text-align: center;">1. Register</h6>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-12 col-12 d-lg-block d-md-block d-sm-flex d-flex justify-content-lg-center justify-content-md-center justify-content-sm-between justify-content-between">
          <div class="registration-img d-flex justify-content-lg-center justify-content-md-center justify-content-sm-end justify-content-end order-2">
            <img src="/static/assets/img/document-collection.jpg" style="border-radius: 50%; height: auto; width: 70%;" alt="">
          </div>
          <div class="registration-text order-1">
            <h6 style="font-weight: 600; text-align: center;">2. Document Collection</h6>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-12 col-12 d-lg-block d-md-block d-sm-flex d-flex justify-content-lg-center justify-content-md-center justify-content-sm-between justify-content-between">
          <div class="registration-img d-flex justify-content-lg-center justify-content-md-center justify-content-sm-start justify-content-start order-1">
            <img src="/static/assets/img/documents-verification.jpg" style="border-radius: 50%; height: auto; width: 70%;" alt="">
          </div>
          <div class="registration-text order-2">
            <h6 style="font-weight: 600; text-align: center;">3. Documents Verification</h6>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-12 col-12 d-lg-block d-md-block d-sm-flex d-flex justify-content-lg-center justify-content-md-center justify-content-sm-between justify-content-between">
          <div class="registration-img d-flex justify-content-lg-center justify-content-md-center justify-content-sm-end justify-content-end order-2">
            <img src="/static/assets/img/make-payment.jpg" style="border-radius: 50%; height: auto; width: 70%;" alt="">
          </div>
          <div class="registration-text order-1">
            <h6 style="font-weight: 600; text-align: center;">4. Make Payment</h6>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-12 col-12 d-lg-block d-md-block d-sm-flex d-flex justify-content-lg-center justify-content-md-center justify-content-sm-between justify-content-between">
          <div class="registration-img d-flex justify-content-lg-center justify-content-md-center justify-content-sm-start justify-content-start order-1">
            <img src="/static/assets/img/id-creation.jpg" style="border-radius: 50%; height: auto; width: 70%;" alt="">
          </div>
          <div class="registration-text order-2">
            <h6 style="font-weight: 600; text-align: center;">5. ID Creation</h6>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-12 col-12 d-lg-block d-md-block d-sm-flex d-flex justify-content-lg-center justify-content-md-center justify-content-sm-between justify-content-between">
          <div class="registration-img d-flex justify-content-lg-center justify-content-md-center justify-content-sm-end justify-content-end order-2">
            <img src="/static/assets/img/start-work.jpg" style="border-radius: 50%; height: auto; width: 70%;" alt="">
          </div>
          <div class="registration-text order-1">
            <h6 style="font-weight: 600; text-align: center;">6. Start your work</h6>
          </div>
        </div>
        
      </div>

    </div>

  </div>
</section><!-- End Registration Process Section -->