<section id="pricing" class="pricing">
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <div class="section-header">
      <h2>Pricing</h2>
      <!-- <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim
        export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export
        irure minim illum fore</p> -->
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box featured">
          <h3>RETAILER</h3>
          <h4><sup>₹</sup>499<span> / year</span></h4>
          <ul class="text-start">
            <hr class="m-0">
            <li>Earn extra income as commission on every service</li>
            <hr class="m-0">
            <li>Easy, Fast & Secure</li>
            <hr class="m-0">
            <li>Manage all services in one click</li>
            <hr class="m-0">
            <li>The best user interface for all important actions</li>
            <hr class="m-0">
            <li>Track business growth with detailed reports</li>
            <hr class="m-0">
            <li>Single wallet for all the services</li>
            <hr class="m-0">
            <li>Works 24/7</li>
            <hr class="m-0">
            <li>Customer care team to assist in all queries</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="box featured">
          <h3>Distributorship</h3>
          <h4><sup>₹</sup>999<span> / year</span></h4>
          <ul class="text-start">
            <hr class="m-0">
            <li>Unlimited Retailer creation</li>
            <hr class="m-0">
            <li>One time investment for a life time earning</li>
            <hr class="m-0">
            <li>Earn Commission For join Every Member</li>
            <hr class="m-0">
            <li>24/7 Support</li>
            <hr class="m-0">
            <li>All services training</li>
            <hr class="m-0">
            <li>Become a Distributor and earn up to Rs. 100000/- per month.</li>
          </ul>

          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="box featured">
          <span class="advanced">Advanced</span>
          <h3>Master Distributorship</h3>
          <h4><sup>₹</sup>1999<span> / year</span></h4>
          <ul class="text-start">
            <hr class="m-0">
            <li>Unlimited Distributorship Creation</li>
            <hr class="m-0">
            <li>Earn Commission For join Every Member</li>
            <hr class="m-0">
            <li>24/7 Support</li>
            <hr class="m-0">
            <li>All services training</li>
            <hr class="m-0">
            <li>It is a programme with unlimited income opportunity.</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>