<!-- ======= Team Section ======= -->
<section id="services">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Services</h2>
    </div>
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="pic"><img src="static/assets/img/service-1.jpeg" alt=""></div>
          <div class="details">
            <h4>Aadhar Payments</h4>
            <div class="social">
              <p>
                Aadhaar Enabled Payment System (AePS) allows the merchant to accept payment from a customer of any bank,
                by authenticating...
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="pic"><img src="static/assets/img/service-2.jpg" alt=""></div>
          <div class="details">
            <h4>Bill Payments</h4>
            <div class="social">
              <p>
                Online bill payment is a secure electronic service that allows customers to pay bills without having to
                write checks and mail them.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="pic"><img src="static/assets/img/service-3.jpg" alt=""></div>
          <div class="details">
            <h4>App Development</h4>
            <div class="social">
              <p>
                Mobile app development is the creation of an application that can live on different mobile devices. The
                top two operating systems consumers...
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="pic"><img src="static/assets/img/service-4.jpg" alt=""></div>
          <div class="details">
            <h4>Mobile Recharge</h4>
            <div class="social">
              <p>
                Mobile Recharge is a web-based application developed in ASP.NET to recharge mobile phones. The project
                focuses at providing...
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="pic"><img src="static/assets/img/service-5.jpeg" alt=""></div>
          <div class="details">
            <h4>Web Development</h4>
            <div class="social">
              <p>
                Web development refers in general to the tasks associated with developing websites for hosting via
                intranet or internet. The web development ...
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="pic"><img src="static/assets/img/service-6.jpeg" alt=""></div>
          <div class="details">
            <h4>Pan Card Services</h4>
            <div class="social">
              <p>
                A permanent account number is a ten-character alphanumeric identifier, issued in the form of a laminated
                "PAN card",...
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="pic"><img src="static/assets/img/service-7.jpeg" alt=""></div>
          <div class="details">
            <h4>Micro ATM</h4>
            <div class="social">
              <p>
                Micro ATM is a mini version of an ATM. Micro ATMs are like modified point of sales terminals this
                terminal can connect to banking network via GPRS to perform banking transactions.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="pic"><img src="static/assets/img/service-8.jpeg" alt=""></div>
          <div class="details">
            <h4>Money Transfers</h4>
            <div class="social">
              <p>
                Money Transfers are electronic transfer of money from one bank account to another, either within a
                single financial institution or across multiple institutions, via computer-based systems,.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->